
{% extends 'sideNav.html' %} 
{% block content%}
    <div class="container" style="max-width:500px;">
        <h1 class="mt-5">Face Registration</h1>
        <form action="/capture" method="post" class="mt-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="role">Role:</label>
                        <select id="role" name="role" class="form-control" required>
                            <option value="Student">Student</option>
                            <option value="Teacher">Teacher</option>
                            <option value="Teacher">Admin</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Start Capture</button>
        </form>
        <div class="mt-5">
            <img src="{{ url_for('video_feed_for_register') }}" class="img-fluid">
        </div>
    </div>
    {%endblock%}

    <!-- Include Bootstrap JS and jQuery -->
    
